<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Update Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header th:replace="fragments/header">
</header>
<body>
	<h1>Form</h1>
    <form action="#" th:action="@{/Products/Update}" th:object="${Products}" method="post">    
    	<p>Id of the product to be updated: <input type="number" th:field="*{id}" /></p>
    	<p>Supplier: <input type="number" th:field="*{Supplier_Key}" /></p>
        <p>Category: <input type="number" th:field="*{Category}" /></p>        
        <p>Department: <input type="number" th:field="*{Department}" /></p>
        <p>isDisplay: <input type="radio" th:field="*{isDisplay}" value="false"/></p><input type="hidden" value="on" name="_isDisplay"/>
        <p>Description: <input type="text" th:field="*{Description}"/></p>        
        <p>costSold: <input type="number" step="0.01" min=0 th:field="*{costSold}" /></p>
        <p>costBought: <input type="number" step="0.01" min=0 th:field="*{costBought}" /></p>
        <p>quantityStorage: <input type="number" th:field="*{QuantityInStorage}" /></p>
        <p>quantityDisplay: <input type="number" th:field="*{QuantityInDisplay}" /></p>
        <p>departmentForeignId: <input type="number" th:field="*{DepartmentForeignId}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>