<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header th:replace="fragments/header">
</header>
<body>
	<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
	<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error != null}"></div>
	<tr th:if="${Products == null}">
            <td colspan="2"> No Products are available </td>
   </tr>
   <h3>Display</h3>
   <table th:object="${Products}" id="Products" border="1">
	   <thead>
	        <tr>
	            <th th:text="id"> Id </th>
	            <th th:text="CostSold">Cost Sold </th>
	            <th th:text="Description"> Description </th>
	            <th th:text="Department"> Department </th>
	            <th th:text="StoreQuantity">  Storage Quantity </th>
	            <th th:text="Category"> Category </th>
	            <th th:text="DisplayQuantity">  Storage Quantity </th>
	        </tr>
	    </thead>
	    <tbody>
			<tr th:each="message : ${Products}">
				<td th:text="${message.getid()}"></td>
				<td th:text="${message.getCostSold()}"> Cost of Product </td>
				<td th:text="${message.getDescription()}"> Description</td>
				<td th:text="${message.getDepartment()}"> Department </td>
				<td th:text="${message.getMinStorage()}"> Quantity in Storage </td>
				<td th:text="${message.getCategory()}"> Category </td>
				<td th:text="${message.getMaxDisplay()}"> Quantity for Sell </td>
		    </tr>
	    </tbody>
    </table>
    <br/>
	    <h3>Product to be displayed</h3>
        <form action="#" th:action="@{/Actions/Display}" th:object="${Product}" method="post">
    	<p>Product Id to be displayed: <input type="number" th:field="*{id}" /></p>
    	<p>Quantity for display: <input type="number" th:field="*{TransactionQuantity}" /></p>
    	<p>Department to be displayed in: <input type="number" th:field="*{Department}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <br/>
	    <h3>New product to be displayed</h3>
        <form action="#" th:action="@{/Actions/Display}" th:object="${Product}" method="post">
    	<p>Product Id to be displayed: <input type="number" th:field="*{id}" /></p>
    	<p>Quantity for display: <input type="number" th:field="*{TransactionQuantity}" /></p>
    	<p>Department to be displayed in: <input type="number" th:field="*{Department}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>

