<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header th:replace="fragments/header">
</header>
<body>
	<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
	<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error != null}"></div>
	<tr th:if="${Products == null}">
            <td colspan="2"> No Products are available </td>
   </tr>
   <table th:object="${Products}" id="Products" border="1">
	   <thead>
	        <tr>
	            <th th:text="id"> Id </th>
	            <th th:text="CostSold">Cost Sold </th>
	            <th th:text="Description"> Description </th>
	            <th th:text="Store Quantity">  Storage Quantity </th>
	            <th th:text="Category"> Category </th>
	            <th th:text="Display Quantity">  Storage Quantity </th>
	        </tr>
	    </thead>
	    <tbody>
			<tr th:each="message : ${Products}">
				<td th:text="${message.getId()}"></td>
				<td th:text="${message.getRecipientKey()}"> Cost of Product </td>
				<td th:text="${message.getProviderKey()}"> Description</td>
				<td th:text="${message.getCapital()}"> Quantity in Storage </td>
				<td th:text="${message.getProductKey()}"> Category </td>
				<td th:text="${message.getDateOfTransaction()}"> Quantity for Sell </td>
				<td th:text="${message.getProductQuantity()}"> Quantity for Sell </td>
				<td th:text="${message.getState()}"> Quantity for Sell </td>
				<td th:text="${message.getErrorText()}"> Quantity for Sell </td>
				<td th:text="${message.getType()}"> Quantity for Sell </td>
		    </tr>
	    </tbody>
    </table>
</body>
</html>

